/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Raleway', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #263238;
}

nav .brand-logo {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.5em;

}

p {
  line-height: 2rem;
}

.nav-wrapper {
  padding: 0 100px;
}

.header {
  margin-top: 10%;
  padding-bottom: 20px;
}

.header-subtitle {
  margin-top: 2%;
  font-size: 1.3em;
}

.row {
  margin-top: 2%;
  margin-bottom: 10%;
}

.btn-registrazione{
  width: 100%;
}

.sidenav-trigger {
  color: #ffc107;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  width: 100%;
  height: 100%;
}

.section-register{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .header {
    font-size: 300%;
  }
  .nav-wrapper {
    padding: 0 10px;
  }
  nav .brand-logo {
    font-size: .8em;
  }
  nav .fa-forumbee {
    visibility: hidden;
  }
}

.col-servizio {
  margin-top: 60px;
}


#comefunziona h5 {
  font-size: 1.3em;
  line-height: 1.3em;
}

.social-icon {
  font-size: 2em;
  color: white;
  padding: 20px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
 
